  <footer class="footer">
    <div class="container">
      <div>
        <img src="images/{{options.taxon}}_metasmash_logo.svg" alt="metaSMASH logo" style="height:90px;width:unset;">
      </div>
      <div class="cite-me">
        If you have found metaSMASH useful, please <a href="{{options.base_url}}#!/about">cite us</a>.
      </div>
      <div>
        <img src="images/{{options.taxon}}_metasmash_icon.svg" alt="metaSMASH taxon icon" style="height:100px;width:unset;">
      </div>
    </div>
  </footer>
